.content{width: 100%;height: 100%; background: #555;}
.target_item{width: 100%;height: 100%; position: relative;}

.form{position: absolute; top: 50px;left: 40px;}
.form input{max-width: 300px; width: 300px; padding: 5px 0; font-size: 14px; box-sizing: border-box; background: none; border: none; border-bottom: 1px solid rgba(255, 255, 255, 0.3); color: rgba(255, 255, 255, 0.5); outline: none;}
.form button{width: 25px;height: 25px; position: absolute;top: 50%;right: 0;transform: translateY(-50%); background: none; cursor: pointer;}
.form .icon{ color: #fff;}

.target_img{width: 100%; height: 100%; background: url(/public/images/test.jpg)no-repeat center; background-size: cover; background-color: #0005; background-blend-mode: darken;}

.target_text{position: absolute; top: 25%;left: 40px;}
.target_text h3{max-width: 1200px; font-size: 38px; font-weight: 900; color: #fff; margin-bottom: 20px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.target_text p{max-width: 720px; font-size: 16px;font-weight: 400; color: #fff; line-height: 20px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}

.target_btn{width: 120px;height: 40px; margin-top: 20px; border-radius: 10px; background: #4cd7e6; cursor: pointer; transition: all 0.2s;}
.target_btn .btn_icon{font-size: 20px; color: #fff;}
.target_btn:hover{background: #45cbda;}

.video_list{width: 100%;height: 300px;background: rgba(0, 0, 0, 0.7); position: absolute; bottom: 0;left: 0; backdrop-filter: blur(5px);}

@media (max-width:500px){
    .target_text h3{font-size: 30px;}
}

@media (max-width:400px) {
    .target_text h3 {
        font-size: 24px;
    }
}
